<!DOCTYPE html>
<html>
    <head>
        <meta lang="en-GB">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale="1">
        <link rel="stylesheet" href="/output.css">
        <title><%= title || 'Admin Dashboard' %></title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="font-sans bg-gray-50">
        <!--Navigation Bar-->
        <nav class="bg-red-500 text-white p-4">
            <div class="max-w-7xl mx-auto flex justify-between items-center">
            <div class="text-xl"><%= siteName || 'placeholder' %></div>
            <ul class="flex space-x-6">
                <li><a href="/" class="hover:text-gray-300"><%=home %></a></li>
                <li><a href="/about" class="hover:text-gray-300"><%=about %></a></li>
                <li><a href="/services" class="hover:text-gray-300"><%=services %></a></li>
                <li><a href="/contact" class="hover:text-gray-300"><%=contact %></a></li>
                <li><a href="/login" class="hover:text-gray-300"><%=login %></a></li>
                <li><a href="/signup" class="hover:text-gray-300"><%=signUp %></a></li>
            </ul>   
            </div>
        </nav>
        <!--Admin Dashboard start-->
        <div class="flex h-screen">
            <div class="w-1/2 bg-orange-400 p-6">
                <h1 class="text-white text xl font-bold">left box</h1>
                <p class="text-white">This is the left side</p>
            </div>
            <div class="w-1/2 bg-orange-400 p-6">
                <h1 class="text-white text xl font-bold">right box</h1>
                <p class="text-white">This is the right side</p>
        </div>


    </body>
</html>